<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Hello Socket IO</title>
    <script src = "/socket.io/socket.io.js"></script>
    <script src = "jquery-3.2.0.min.js"> </script>
    <script>
      var socket = io("http://localhost:3000");

      socket.on("thatbai",function(data){
        console.log("nhan data");
        alert("User" + data + "not available");
      });

      socket.on("thanhcong",function(data){
        var s = "<div socketid = '"+data.id+"'class = 'motUser'>" + data.username + "</div>";
        $("#danhsachuseronline").append(s);
      })

      socket.on("server_gui_message",function(data){
        var hoten = "<span class = 'hoten'>" + data.Username + ": </span>";
        var msg = "<span class = 'msg'>" + data.msg + "</span>";
        $("#dsMsg").append(hoten + msg + "<div class = 'block'> </div>");
      })
      socket.on("server_xuly_choc",function(data){
        alert(data + " moi choc ban :D");
      });
      $(document).ready(function() {
        $("#btnDangky").click(function(){
            socket.emit("client_gui_username",$("#txtUser").val());
        });
        $("#btnChat").click(function(){
            socket.emit("client_gui_message",$("#txtMessage").val());
            $("#txtMessage").val("");
        });
        $(document).on("click",".motUser",function(){
          var id = $(this).attr("socketid");
          socket.emit("chocgheo_id",id);
        })
      });
    </script>
    <link rel = "stylesheet" typetype = "text/css" href = "main.css" />
  </head>
  <body>
    <div id="wrapper">
      <h1> DEMO CHAT SOCKET - IO </h1>
      <input type = "text" id = "txtUser" placeholder="UserName" />
      <input type = "button" id = "btnDangky" value="Dang ki" />
      <div class="block"></div>

      <div id = "left">
        <div id="title">User Online</div>
        <div id="danhsachuseronline"> </div>
      </div>

      <div id = "right">
        <div id="dsMsg"> </div>
        <div class="block"> </div>
        <input type = "text" id = "txtMessage" placeholder="Message......" />
        <input type = "button" id = "btnChat" value="Chat" />
      </div>

    </div>
  </body>
</html>
