body {background-color: #e2d5e0}
#wrapper {
  width: 600px; margin: auto;
}
#left, #right {min-height:  500px; float: left; margin-top: 10px}
#left {
  width: 30%;
  background-color: #81e83c;
}
#right {
  width:  70%;
  background-color: #22d8bd;
}
.block {
  width: 100%;
  clear: both;
}
#txtMessage, #btnChat {float: left; margin: 2px}
#txtMessage {width: 70%}
#btnChat {width: 25%}
#title {background-color: #d83122; text-align: center; margin:2px}
.hoten {color: red;font-weight: bold;}
#dsMsg {height: 450px;overflow: scroll;clear: both;}
